<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <div id="error"></div>
    <div>Chat Name</div>
    <input id="chat-message-chat-name" type="text" size="100"><br>
    <div>OR</div>
    <div>To ID</div>
    <input id="chat-message-to-id" type="text" size="100"><br>
    <div>Message</div>
    <input id="chat-message-input" type="text" size="100">
    <br>
    <input id="chat-message-submit" type="button" value="Send">

    
    <!-- {{ room_name|json_script:"room-name" }} -->
    <script>
        // const roomName = JSON.parse(document.getElementById('room-name').textContent);

        var chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            // + roomName
            // + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log("asfasd")
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.chat_name +" " +data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
            chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
           );
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const chatNameInputDom = document.querySelector('#chat-message-chat-name');
            const toIdInputDom = document.querySelector('#chat-message-to-id');
            const message = messageInputDom.value;
            const chatName = chatNameInputDom.value;
            const toID = toIdInputDom.value;
            
            if(chatName == "" && toID== "")
            {       
                    var error = document.getElementById('error')
                    error.innerHTML = "Specify any one, chatname or ID"
                    return;
            }

            if(chatName != "")
            {
                chatSocket.send(JSON.stringify({
                'chat_name' : chatName,
                'message': message
            }));
            }
            else{
                chatSocket.send(JSON.stringify({
                'to_id' : toID,
                'message': message
            }));
            }

            
            messageInputDom.value = '';

            var error = document.getElementById('error')
            error.innerHTML = ""
        };
    </script>
</body>
</html>