<div class="content">
	<div class="contact-profile">
		<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
		<p>Harvey Specter</p>
	</div>
	<div id="message-box" class="messages scrollbar" >
		<app-chatbubble  *ngFor="let message of messages" text= {{message.text}} [isSelf]=message.isSelf ></app-chatbubble>
	</div>
	<div class="message-input">
		<div class="wrap">
		<input type="text" placeholder="Write your message..." />
		<button class="btn btn-primary submit " ><fa-icon [icon]="faPaperPlane"></fa-icon></button>
		</div>
	</div>
</div> 

